*{
  //font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}


/* :host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0 0 0 10px white;
  }
  
  img {
    max-width: 10vw;
    max-height: 100vh;
    z-index: -1;
  }
 */
