*{
    //font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    justify-content: center;
    align-items: center;
}


.margen {
    width: auto;
}

button {
    font-size: medium;
}




/* .masonry-container {
    //display: flex;
    flex-wrap: wrap;
    //columns: 3;
    row-gap: 4;
    width: auto;
    height: auto;
    //padding-bottom: 10px;
    //grid-template-rows: masonry;
} */

.contenedor {
    display: inline-block;
    width: 100%;
  }


img {
    //filter: opacity(.1);
    //z-index: -1;
    background-color: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0) 100%);
    width: 24vw;
    height: auto;
    object-fit: cover;
    //cxflex-basis: calc(25% - 10px);
    //margin: 10px;
   /*  margin-left: 10px;
    margin-bottom: 28px;*/
    border-radius: 2%;
    justify-content: center;
    display: flex;
    //position: relative;
    
}

img:hover {
    filter: saturate(250%);
} 


/* div.info {
  
  color: white;
  background: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0) 100%);

} */


  
.text-description {
    //z-index: -1;
    top: 600px;
    left: 20px;
    //background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    position: absolute;
  }



  @media (max-width: 1740px) {

    .masonry {
        --masonry-brick-width: 22vw;
    }

    img {
        width: 23vw;
    }
   
  }

  @media (max-width: 1264px) {

    .masonry {
        --masonry-brick-width: 22vw;
    }

    img {
        width: 23vw;
    }
   
  }

  
  @media (max-width: 999px) {

    .masonry {
        --masonry-brick-width: 21vw;
    }

    img {
        width: 22vw;
    }

   
  }

  @media (max-width: 700px) {

    .masonry {
        --masonry-brick-width: 20vw;
    }

    img {
        width: 21vw;
    }

   
  }

  @media (max-width: 519px) {

    .masonry {
        --masonry-brick-width: 16vw;
    }

    img {
        width: 16vw;
    }

   
  }


  @media (max-width: 516px) {

    .masonry {
        --masonry-brick-width: 17vw;
    }

    img {
        width: 28vw;
    }

   
  }



/* 
@media (max-width: 1920px) {
    masonry-container {
        justify-content: center;
        padding-left: 200px;
        padding-right: 200px;
    }

    .contenedor {
        display: inline-block;
        width: 100%;
      }
}



@media (max-width: 1200px) {
    img {
        flex-basis: calc(33.3333% - 10px);
    }

    .contenedor {
        display: inline-block none;
        width: 0;
      }
    
}




@media (max-width: 900px) {
    img {
        flex-basis: calc(50% - 10px);
    }
}



@media (max-width: 659px) {
    img {
        flex-basis: calc(100% - 10px);
    }
}
 */





.masonry {
    background-color: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0) 100%);
    --masonry-gap: 1rem;
    --masonry-brick-width: 20vw;
    column-gap: var(--masonry-gap);
    column-fill: initial;
    column-width: var(--masonry-brick-width);
  }
  
  .masonry > * {
    break-inside: avoid;
    margin-bottom: var(--masonry-gap);
  }
  
  @supports (grid-template-rows: masonry) {
    .masonry {
      display: grid;
      gap: var(--masonry-gap);
      grid-template-rows: masonry;
      grid-template-columns: repeat(
        auto-fill,
        minmax(var(--masonry-brick-width), 1fr)
      );
      align-tracks: stretch;
    }
  
    .masonry > * {
      margin-bottom: initial;
    }
  }
  
  /* some styling not important */
  .masonry {
    /*background: #f3f3f3;*/
    padding: 1rem;
  }



