*{
    //font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
}


.margen {
    width: auto;
}

button {
    font-size: large;
}




.masonry-container {
    //display: flex;
    flex-wrap: wrap;
    columns: 4;
    row-gap: 4;
    width: auto;
    height: auto;
    padding-bottom: 10px;
    //grid-template-rows: masonry;
}

.contenedor {
    display: inline-block;
    width: 100%;
  }


img {
    //filter: opacity(.1);
    //z-index: -1;
    background-color: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0) 100%);
    width: 310px;
    height: auto;
    object-fit: cover;
    flex-basis: calc(25% - 10px);
    //margin: 10px;
    margin-left: 10px;
    margin-bottom: 28px;
    border-radius: 2%;
    justify-content: center;
    display: flex;
    //position: relative;
    
}

img:hover {
    filter: saturate(250%);
} 


div.info {
  
  color: white;
  background: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0) 100%);

}


  
.text-description {
    //z-index: -1;
    top: 600px;
    left: 20px;
    //background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    position: absolute;
  }




@media (max-width: 1920px) {
    masonry-container {
        justify-content: center;
        padding-left: 200px;
        padding-right: 200px;
    }

    .contenedor {
        display: inline-block;
        width: 100%;
      }
}



@media (max-width: 1200px) {
    img {
        flex-basis: calc(33.3333% - 10px);
    }

    .contenedor {
        display: inline-block none;
        width: 0;
      }
    
}




@media (max-width: 900px) {
    img {
        flex-basis: calc(50% - 10px);
    }
}



@media (max-width: 659px) {
    img {
        flex-basis: calc(100% - 10px);
    }
}






