


<div class="container-fluid">

  <div class="masonry2 d-flex justify-content-center">
    
    <div class="btn btn-outline-secondary d-block" style="width: 100%;" (click)="cargar()" type="button">Cargar nuevas fotos</div>
  </div>
  
  
  <div class="text-center" *ngIf="loading">
    <div class="loader">Loading...</div>
  </div>
  
  
  <div class="masonry" *ngIf="!loading" >
    <div *ngFor="let photo of photos">
      <img class="num" [src]="photo.urls.regular">
      <div class="mascara"></div>
      <div class="text-description text-white"><h5 class="fw-bold">{{photo.alt_description}}</h5><span>{{photo.user.username}}</span></div>
    </div>
  </div>  
</div>




