

<div class="d-grid mt-2 mb-2 p-2">
  <button class="btn btn-outline-secondary" (click)="cargar()" type="button">Cargar nuevas fotos</button>
</div>

<div class="text-center" *ngIf="loading">
  <div class="loader">Loading...</div>
</div>

<div class="masonry-container" *ngIf="!loading">
  <img class="contenedor" *ngFor="let photo of photos" [src]="photo.urls.regular" id="photo" alt="{{photo.alt_description}}">
  <div class="info">
    <!--<span class="text-description">{{photo.alt_description}}</span>-->
  </div>
</div>
