*{
  font-family: 'Rubik', sans-serif;
  justify-content: center;
  align-items: center;
}


.margen {
  padding: 16px;
}

button {
  font-size: medium;
}


.contenedor {
  display: inline-block;
  width: 100%;
}

.containerfotos{
  
  border-radius: 2%;
  overflow: hidden;

}

img {
  background-image: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: auto;
  object-fit: cover;
  justify-content: center;
  display: flex;
  //box-shadow: 3px 3px;
}


//.btn{
  //margin-left: 20vh;
  //margin-right: 20vh;
//}


img:hover {
  filter: saturate(250%);
} 

h5{
  font-size: 2vh;
}

  
.text-description {

  background-image: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0,) 90%);
  justify-content: baseline;
  bottom: 0vh;
  left: 0vw;
  width: 100%;
  //color: white;
  text-shadow: 1px 1px 2px black;
  //background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  position: absolute;
  font-size: 1.5vh;
}

/* .mascara {
  background-image: linear-gradient(0deg, rgb(6 6 6) 0%, rgba(0, 0, 0, 0) 90%);
  background-color: aqua;
  position: absolute;
 
} */

.oculto{
  filter: opacity(.1);
}


  @media (max-width: 1740px) {

    .masonry {
      --masonry-brick-width: 22vw;
    }

 /*    img {
      width: 23vw;
    } */
  
  }

  @media (max-width: 1264px) {

    .masonry {
      --masonry-brick-width: 22vw;
    }

  /*   img {
      width: 23vw;
    } */

    
  }

 

  
  @media (max-width: 999px) {

    .masonry {
      --masonry-brick-width: 21vw;
    }

  /*   img {
      width: 22vw;
    } */

    .text-description {
      bottom: 0vh;
      left: 0vw;
    }
   
  }


  @media (max-width: 700px) {

    .masonry {
      --masonry-brick-width: 20vw;
    }

   /*  img {
      width: 21vw;
    } */
    .text-description {
      bottom: 0vh;
      left: 0vw;
      font-size: 1.2vh;
    }

    h5{
      font-size: 1.5vh;
    }
  }


  @media (max-width: 699px) {

    .masonry {
      --masonry-brick-width: 10vw;
    }

   /*  img {
      width: 22vw;
    } */

  }


  @media (max-width: 650px) {


    .masonry {
      --masonry-brick-width: none;
      column-width: none;
    }

   /*  img {
      width: 22vw;
    } */
    .text-description {
      bottom: 0vh;
      left: 0vw;
      
      font-size: 1vh;
    }
    

  }



  @media (max-width: 600px) {

    .masonry {
      --masonry-brick-width: 10vw;
    }

   /*  img {
      width: 28vw;
    } */

    h5{
      font-size: 1.5vh;
    }
    

  }


  @media (max-width: 516px) {

    .masonry {
      --masonry-brick-width: none;
     
      column-width: var(--masonry-brick-width);
      
    }

    h5{
      font-size: 1vh;
    }

    .text-description {
      bottom: 0vh;
      left: 0vw;
    }

  }


.masonry {

  --masonry-gap: 1rem;
  --masonry-brick-width: 20vw;
  column-gap: var(--masonry-gap);
  column-fill: initial;
  column-width: var(--masonry-brick-width);
  padding: 1rem;

}


.masonry2 {

  --masonry-gap: 1rem;
  --masonry-brick-width: 20vw;
  column-gap: var(--masonry-gap);
  column-fill: initial;
  column-width: var(--masonry-brick-width);
  padding: 1rem;

}


.masonry > * {
  break-inside: avoid;
  margin-bottom: var(--masonry-gap);
  position: relative;
}
  

@supports (grid-template-rows: masonry) {
  .masonry {
    display: grid;
    gap: var(--masonry-gap);
    grid-template-rows: masonry;
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--masonry-brick-width), 1fr)
    );
    align-tracks: stretch;
  }

  .masonry > * {
    margin-bottom: initial;
  }
}


//filter: opacity(.1);